@import url('https://fonts.googleapis.com/css?family=Lobster+Two');


body {
  margin: 10;
  padding: 10;
}


h1 {
  padding: 20px 0px 10px 0px;
}

header {
	background-color:blue;
	top: 0;
	width: 50%;
	height: 50px;
	position:fixed;
	font-weight:800;
	color:#fff;
	z-index: 3; /* to bring the layer on top for the arrangement */

}

header ul {
	display: flex;
	justify-content: center;
}

header ul li {
	list-style-type:none;
	display: list-item;
	line-height: 50px;
	padding-left: 100px;
}

header ul li a { /* for links we need additional styling */
	color:#fff;
	text-decoration: none;
}

header {

font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif

}

header ul li a {

font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif

}

#list1 {
	padding:0;
}

/* Style the header */

.box {
	position: absolute;
	top:40px;
    padding: 10px;
    text-align: center;

}

.jessica {
	background-color:black;
	opacity: 0.5;
	color: white

}

h1 {

font-family: 'Lobster Two', cursive;

}

h2 {

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif

}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p1 {

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif

}
