body {
  text-align: center;
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

a {
color: #69CBBB;
text-decoration: none;
}


header {
	background-color:blue;
	top: 0;
	width: 70%;
	height: 50px;
	position:fixed;
	font-weight:800;
	color:#fff;
	z-index: 3; /* to bring the layer on top for the arrangement */

}

header ul {
	display: flex;
	justify-content: center;
}

header ul li {
	list-style-type:none;
	display: list-item;
	line-height: 50px;
	padding-left: 150px;
}

header ul li a { /* for links we need additional styling */
	color:#fff;
	text-decoration: none;
}

header {

font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif

}

header ul li a {

font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif

}

#list1 {
	padding:0;
}

/* Style the header */

.box {
	position: absolute;
	top:50px;
    padding: 30px;
    text-align: center;

}


h1 {
  padding: 20px 0px 10px 0px;
}

h2 {

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif

}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p1 {

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif

}

footer {


	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    color: black;
    text-align: center;

}
